.editProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ghost-input{
    border:none;
    font-size: 24px;
    color:black;
}
.ghost-input:focus{
    border:1px solid black;
    font-size: 24px;
    color:black;
}